<div class="custom-popup-overlay">
    <div class="custom-popup-content panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title mb-0">{{ popupVm.title }}</h3>
            <button type="button" class="close" ng-click="popupVm.onClose()">&times;</button>
        </div>
        <div class="panel-body">
            <ng-transclude></ng-transclude>
        </div>
        <div class="panel-footer text-right">
            <button ng-if="popupVm.showPrimaryActionButton" ng-class="popupVm.primaryActionClass || 'btn-primary'"
                class="ml-2" ng-click="popupVm.onPrimaryAction()">
                {{ popupVm.primaryActionLabel || 'Action' }}
            </button>
            <button class="btn btn-default ml-2" ng-click="popupVm.onClose()">Close</button>
        </div>
    </div>
</div>